# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
FROM_NOTION
scripts/generate-sql-*.ts
supabase/migrations/*_import_notion_goals_*.sql

# ---

mobile/back_up_template/*

# Build artifacts and debug symbols
*.dSYM/
*.dSYM.zip